@import '../../../base';

section {
  @include outer-container;
  border: 4px solid black;

  aside {
    @include span-columns(3);
    border: 4px solid black;
  }

  article {
    @include span-columns(9);
    border: 4px solid black;
  }
}
