@import '../../base';

.hero {
  background-color: tomato;
  text-align: center;
  padding: 20px 0px;
  border-radius: 5px;
  @include outer-container();

  &__logo {
  }

  &__title h1 {
    font-size: xx-large;
    margin: 0px;
  }

  &__description {
    color: white;
  }

  &__button {
    @extend .btn;
  }
}
